*{	padding:0;margin:0;border:0;line-height:1.5;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 600;} 

.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

.main {
	flex: 1 1 auto;
}


* {
	color: $colored;
	font-family: Oswald, sans-serif;
	@include adaptiv-font(20, 12);
}


a {
	color: $colored;
		&:hover, &:focus {
			color: $light;
		}
}

address {
	font-style: normal;
	&:hover, &:focus {
		color: $light;
	}
}

img {
	display: block;
	margin: auto 0;
}

.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	max-width: 1100px;
	margin: 0 auto;
	padding: 0 2em;
}

body {
	width: 100%;
	background:url(../images/fon_black_skin.png) top left / auto repeat;;
	height: 100%;
}

h2 {
	@include adaptiv-font(30, 13);
	margin: 3em 0 1em;
}

.bold {
	font-weight: 600;
}

.italic {
	font-style: italic;
}

